/*ITIS 3135 Activity 2 css file*/

/*styling for the table goes here*/
body
{
	width: 750px;
	margin: 0 auto;
	background-color: #f7f7f2;
	color: #222725;
}

table
{
	border-collapse: collapse;
	
	margin: 20px;
}

thead
{
	background-color: cyan;
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .1em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}

tbody tr:nth-child(odd) td
{
	background-color: #FFD700;
}

.center{
	text-align:center;
}
html {
	background-color: #121113;
	font-family: Arial;
}

main {
	background-color: #f7f7f2;
	color: #222725;
}

title{
color: #222725;
}

header {
	background-color: #899878;
	display: grid;
	grid-column-gap: 10px;
	color: #E4E6C3;
}