body
{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #3e78a7 ;
	background-color: #c6c3cc;
	margin-left: 75px;
	margin-right: 75px;
}


header, footer
{
	text-align: center;
	color: #13436b;
	font-weight: bold;
}

h1, h2, h3
{
	color: #13436b;
	font-family:Georgia, 'Times New Roman', Times, serif;
	text-align: center;
}

h3
{
	font-size: 200%;
	line-height: 0px;
}

a
{
	text-decoration: none;
	color:#014141;
}

a:hover
{
	text-decoration: overline underline;
}
nav
{
	text-align: center;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#014141;
}